.main{
    height: 100vh;
    background-color: black;
}
#bookimg{
    width: 40rem;
  height: 43rem;
}
#Date{
    display: flex;
        color: red;
  gap: 30px;
}
#time{
    display: flex;
  gap: 30px;
  color: red;

}
.col-md-6{
    display: flex;
  flex-direction: column;
  gap: 2rem;
}
#coloBook{
    color: red;
}
#bookca{
  width: 125px;
  border-radius: 7px;
  border: solid 2px red;
  color: red;
}
#b{
  width: 115px;
  position: relative;
  left: 480px;
  bottom: 40px;
  margin-left: -122px;
}